.navbar{
    display: flex;
    background-color: #ff8097;
    padding: 20px 10px;
    font-size: 30px;
}

.navbar a{
    color: white;
    margin-right: 1em;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover{
    color: #999;
}
